<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="ssdsSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>

	<ssdsSettings>
		<!-- enter your ssds username and password here -->
		<add key="userName" value="" />
		<add key="password" value="" />
		<!-- modify to use your authority and create your tasks container before running this app -->
		<add key="endPoint" value="https://[your-authority].data.beta.mssds.com/v1/tasks" />
		<add key="queryFormat" value="?q='from%20tasks%20in%20entities%20where%20{0}%20select%20tasks'" />
		<!-- use these to control local caching -->
		<add key="maxAge" value="120" />
		<add key="showExpires" value="false" />
	</ssdsSettings>

	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<httpHandlers>
			<add verb="*" path="tasks.ssds" type="amundsen.ssds.TaskResource,Handler"/>
			<add verb="*" path="CacheManager.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager" />
		</httpHandlers>
	</system.web>
	
</configuration>
