<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="ssdsSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>

	<ssdsSettings>
		<add key="maxAge" value="120" />
		<add key="showExpires" value="true" />
		<add key="ssdsUser" value="" />
		<add key="ssdsPassword" value="" />
		<add key="ssdsProxy" value="http://amundsen.com/sds-proxy/" />
	</ssdsSettings>

	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<httpHandlers>
			<!-- photo app -->
			<add verb="*" path="photos.ssds" type="Amundsen.SSDS.PhotoDemo.Photos,Amundsen.SSDS.PhotoDemo"/>
		</httpHandlers>
	</system.web>

</configuration>
