/* alt2.css */

body
{
	background:black;
	color:white;
	font-family:georgia;
	margin:0;
	padding:5px;
}

.styleblock
{
	border: medium white outset;
	padding: 5px;
	width:250px;
	float:left;
	margin: 5px;
}

.styleblock img
{
	float:left;
	margin: 7px;
}