<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="ssdsSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>

	<ssdsSettings>
		<add key="tasksEndPoint" value="https://mamund.data.database.windows.net/v1/tasks" />
		<add key="tasksQueryFormat" value="?q='from%20tasks%20in%20entities%20where%20{0}%20select%20tasks'" />
		<add key="maxAge" value="120" />
		<add key="showExpires" value="false" />
		<add key="ssdsUser" value="" />
		<add key="ssdsPassword" value="" />
		<add key="ssdsProxy" value="http://localhost/sds-proxy/" />
	</ssdsSettings>

	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<httpHandlers>
			<!-- guestbook app -->
			<add verb="*" path="messages.ssds" type="Amundsen.SSDS.GuestBook.Messages,Amundsen.SSDS.GuestBook"/>
			<add verb="*" path="guests.ssds" type="Amundsen.SSDS.GuestBook.Guests,Amundsen.SSDS.GuestBook"/>
			<!-- ssds-proxy app -->
			<add verb="*" path="authority.ssds" type="Amundsen.SSDS.Provisioning.Authority,Amundsen.SSDS.Provisioning"/>
			<add verb="*" path="container.ssds" type="Amundsen.SSDS.Provisioning.Container,Amundsen.SSDS.Provisioning"/>
			<add verb="*" path="entity.ssds" type="Amundsen.SSDS.Provisioning.Entity,Amundsen.SSDS.Provisioning"/>
			<!-- ssds tasks app -->
			<add verb="*" path="tasks.ssds" type="Amundsen.SSDS.TaskDemo.TaskResource,Amundsen.SSDS.TaskDemo"/>
			<!-- internal cache viewer -->
			<add verb="*" path="CacheManager.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager" />
		</httpHandlers>
	</system.web>

</configuration>
